<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-mat="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]" (click)="reset()">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]" (click)="reset()">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>Comments</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="comment" *ngFor="let comment of dish.comments">
          <p>{{comment.comment}} </p>
          <p>{{comment.rating}} Stars</p>
          <p>--{{comment.author}} {{comment.date | date}}</p>
        </div>
      </mat-card-content>
      <div>
        <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-input-container class="full-width" dividerColor="{{formErrors.author ? 'warn' : 'primary'}}">
              <input matInput id="commentName" formControlName="author" placeholder="Name" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.author)">{{formErrors.author}}</span>
              </mat-hint>
            </mat-input-container>
          </p>
          <p>
            <mat-slider thumbLabel tickInterval="1" class="full-width" id="commentRating" formControlName="rating"
                        min="0" max="5" step="1" value="5"></mat-slider>
          </p>
          <p>
            <mat-input-container class="full-width" dividerColor="{{formErrors.comment ? 'warn' : 'primary'}}">
              <textarea matInput id="commentMessage" formControlName="comment" placeholder="Your Comment" rows=12
                        required></textarea>
            </mat-input-container>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white"
                  [disabled]="commentForm.invalid">Submit
          </button>
        </form>
      </div>
    </mat-card>
  </div>


</div>
